.body {
  margin-top: 5vh;
  width: 100%;
  height: auto;
}

.condition {
  font-weight: bold;
  max-width: 50%;
}

button {
  width: 120px;
  height: 25px;
  color: black;
}

button:hover {
  cursor: pointer;
}

button:active {
  color: white;
  background-color: black;
}
